<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Album app</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</head>

<body>
    <div style="margin-top: 50px;" class="ui container">
        <h1 class="ui center aligned header">Albums</h1>

        <form class="ui form" action="/add" method="post">
            <div class="field">
                <label>Album Title</label>
                <input type="text" name="title" placeholder="Enter Album..."><br>
            </div>
            <div class="field">
                <label>Artist name</label>
                <input type="text" name="artist" placeholder="Enter Artist name..."><br>
            </div>
            <div class="field">
                <label>Rating</label>
                <input type="text" name="rating" placeholder="Enter Rating out of 10..."><br>
            </div>
            <button class="ui blue button" type="submit">Add</button>
        </form>

        <hr>

        {% for Album in album_list %}
        <div class="ui segment">
            <p class="ui big header">{{Album.id }} | {{ Album.title }}</p>
            <p class="ui big header">{{ Album.artist }}</p>
            <p class="ui big header">{{ Album.rating }}</p>

            

            <a class="ui blue button" href="/update/{{ Album.id }}">Update</a>
            <a class="ui red button" href="/delete/{{ Album.id }}">Delete</a>
        </div>
        {% endfor %}
    </div>
</body>

</html>